{
	"extends": "@10up/eslint-config",
	"rules": {
		"require-jsdoc": ["error", {
			"require": {
				"FunctionDeclaration": true,
				"MethodDefinition": true,
				"ClassDeclaration": true,
				"ArrowFunctionExpression": true,
				"FunctionExpression": true
			}
		}],
		"valid-jsdoc": "error"
	}
}
