.no-js {
	& .primary-menu {
		list-style: none;
		padding-left: 0;
		margin: 0;
		display: none;

		@media (--viewportMedium) {
			display: block;
		}

		&:target {
			display: block;
		}

		& ul {
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
		& li {
			position: relative;

			&:hover,
			&:focus {
				& > ul {
					display: block;
				}
			}

			& > ul {
				display: none;

				@media (--viewportMedium) {
					position: absolute;
					top: 100%;
					left: 0;
				}
			}
		}
		& > li {
			display: block;

			@media (--viewportMedium) {
				display: inline-block;
			}
		}
	}
}

.js-tenup-navigation__menu {
	list-style: none;
	margin: 0;
	padding: 0;

	&[aria-hidden="true"] {
		display: none;
	}
	&:target,
	&[aria-hidden="false"] {
		display: block;
	}
}
.js-tenup-navigation__menu--main {

	& > .js-tenup-navigation__menu-item {
		display: block;

		@media (--viewportMedium) {
			display: inline-block;
		}
	}
}
.js-tenup-navigation__menu--submenu {

	@media (--viewportMedium) {
		position: absolute;
		top: 100%;
		left: 0;
	}

	& > .js-tenup-navigation__menu-item {
		display: block;
	}
}
.js-tenup-navigation__menu--hover {
	.js-tenup-navigation__menu-item {
		&:hover {
			@media (--viewportMedium) {
				& > .js-tenup-navigation__menu--submenu,
				& > .js-tenup-navigation__menu--submenu[aria-hidden="true"] {
					display: block;
				}
			}
		}
	}
}
.js-tenup-navigation__menu-toggle {
	&[aria-hidden="true"] {
		display: none;
	}
	&[aria-hidden="false"] {

	}
}
.js-tenup-navigation__menu-item {
	@media (--viewportMedium) {
		position: relative;
	}
}
